#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
           &kp Q         &kp W           &kp E        &kp R       &kp T      &kp Y    &kp U         &kp I        &kp O           &kp P
           &mt LSHIFT A  &mt LEFT_ALT S  &mt LCTRL D  &mt LGUI F  &kp G      &kp H    &mt RSHIFT J  &mt RCTRL K  &mt LEFT_ALT L  &mt RGUI SEMI
&kp LSHFT  &kp Z         &kp X           &kp C        &kp V       &kp B      &kp N    &kp M         &kp COMMA    &kp DOT         &kp FSLH       &kp LSHFT
                                         &kp ESC      &kp SPACE   &kp TAB    &kp RET  &kp BSPC      &kp DEL
            >;
        };

        Navigation {
            bindings = <
        &trans    &trans    &trans     &trans     &trans    &trans    &trans    &trans   &trans     &trans
        &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT  &trans
&trans  &trans    &kp LALT  &trans     &trans     &trans    &trans    &trans    &trans   &trans     &trans  &trans
                            &trans     &trans     &trans    &kp RET   &kp BSPC  &kp DEL
            >;
        };

        Mouse {
            bindings = <
        &trans    &trans    &trans     &trans     &trans    &trans            &trans    &trans   &trans     &trans
        &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &mmv MOVE_LEFT    &kp DOWN  &kp UP   &kp RIGHT  &trans
&trans  &trans    &kp LALT  &trans     &trans     &trans    &mwh SCROLL_LEFT  &trans    &trans   &trans     &trans  &trans
                            &trans     &trans     &trans    &mkp LCLK         &kp BSPC  &kp DEL
            >;
        };

        Media {
            bindings = <
        &trans    &trans    &trans     &trans     &trans    &trans    &trans    &trans   &trans     &trans
        &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT  &trans
&trans  &trans    &kp LALT  &trans     &trans     &trans    &trans    &trans    &trans   &trans     &trans  &trans
                            &trans     &trans     &trans    &kp RET   &kp BSPC  &kp DEL
            >;
        };
    };
};
