#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
           &kp Q         &kp W           &kp E        &kp R       &kp T      &kp Y    &kp U         &kp I        &kp O           &kp P
           &mt LSHIFT A  &mt LEFT_ALT S  &mt LCTRL D  &mt LGUI F  &kp G      &kp H    &mt RSHIFT J  &mt RCTRL K  &mt LEFT_ALT L  &mt RGUI SEMI
&kp LSHFT  &kp Z         &kp X           &kp C        &kp V       &kp B      &kp N    &kp M         &kp COMMA    &kp DOT         &kp FSLH       &kp LSHFT
                                         &kp ESC      &kp SPACE   &kp TAB    &kp RET  &kp BSPC      &kp DEL
            >;
        };

        Navigation {
            bindings = <
       &none     &none     &none      &none      &none    &none     &none     &none    &none      &none
       &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none    &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT  &none
&none  &none     &kp LALT  &none      &none      &none    &none     &none     &none    &none      &none  &none
                           &none      &none      &none    &kp RET   &kp BSPC  &kp DEL
            >;
        };

        Mouse {
            bindings = <
       &none     &none     &none      &none      &none    &none             &none             &none           &none              &none
       &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none    &mmv MOVE_LEFT    &mmv MOVE_DOWN    &mmv MOVE_UP    &mmv MOVE_RIGHT    &none
&none  &none     &kp LALT  &none      &none      &none    &mwh SCROLL_LEFT  &mwh SCROLL_DOWN  &mwh SCROLL_UP  &mwh SCROLL_RIGHT  &none  &none
                           &none      &none      &none    &mkp LCLK         &mkp MCLK         &mkp RCLK
            >;
        };

        Media {
            bindings = <
       &none     &none     &none      &none      &none    &none       &none              &none         &none       &none
       &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none    &kp C_PREV  &kp C_VOLUME_DOWN  &kp C_VOL_UP  &kp C_NEXT  &none
&none  &none     &kp LALT  &none      &none      &none    &none       &none              &none         &none       &none  &none
                           &none      &none      &none    &kp C_PP    &none              &none
            >;
        };

        Num {
            bindings = <
       &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT     &none  &none      &none      &none     &none
       &kp SEMI   &kp N4  &kp N5   &kp N6  &kp EQUAL    &none  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
&none  &kp GRAVE  &kp N1  &kp N2   &kp N3  &kp BSLH     &none  &none      &none      &none     &none     &none
                          &kp DOT  &kp N0  &kp MINUS    &none  &none      &none
            >;
        };
    };
};
